# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build
/client/.firebase

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# src
# /firebase/config.js
tweet-todoapp-firebase-adminsdk-sc6tt-827d132b82.json
