section {
  margin: 20px;
}
.section-title {
  font-size: 1.2em;
}
section.add-task {
  height: 100%;
}
.button {
  margin-left: 15px;
  margin-bottom: 2px;
}
.input-date {
  margin-left: 10px;
  padding: 6px 0 7px;
}
.tasks-list {
  padding-inline-start: 0px;
  list-style-type: none;
}
.task-item {
  margin: 10px 0 5px 10px;
}
.task-date {
  width: 100%;
  background-color: #3f51b5;
  color: #fff;
  margin-bottom: 5px;
}
.task-date-text {
  display: inline-block;
  font-size: inherit;
  margin: 3px 10px;
}
.task-name {
  display: inline-block;
  word-wrap: break-word;
  flex-grow: 4;
}
.editting-message {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: red;
}
.warnning {
  color: #fecb81;
}
